.container {
    display: flex;
    border: 1px solid hsl(210deg, 30%, 12%);
    width: 100%;
    color: hsl(210deg, 30%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    animation: fancyFade 0.8s ease-out;
    height: 100vh;

    &__card {
        max-height: 90vh;
        border-radius: 30px 30px 0 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #aaa;
            border-radius: 3px;
        }
    }

    &__card-img {
        flex-shrink: 1;
        object-fit: cover;
        display: block;
        width: 100%;
        max-height: 250px;
        border: none;
        border-radius: 30px 30px 0 0;
    }

    &__card-text {
        width: 100%;
        color: black;
        background-color: white;


        &-question {
            margin: 1rem 2rem 1rem 2rem;
            font-size: 1.1rem;
        }

        &-result {
            margin: 1rem 2rem 1rem 2rem;
        }

        &-message {
            margin: 1rem 2rem 1rem 2rem;
        }

        &-options {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            margin: 0 0 0.5rem 1rem;

            &-element {
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                gap: 0.6em;
                padding: 0.75rem;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: background-color 0.2s;

                &:hover {
                    background-color: #e2e2e2;
                }
            }
        }
    }

    &__card-button {
        width: 100%;
        align-items: center;
        border: none;
        border-radius: 0 0 30px 30px;
        background-color: #9F50B1;
        padding-top: 18px;
        padding-bottom: 18px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: #8c489c;
        }

        &:disabled {
            cursor: not-allowed;
        }

    }

    @keyframes fancyFade {
        0% {
            opacity: 0;
            transform: scale(0.98);
            filter: blur(0.25em);
        }

        100% {
            opacity: 1;
            transform: scale(1);
            filter: blur(0);
        }
    }
}
