#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


:root {
  color: hsl(0deg 0% 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(210deg, 30%, 12%);
  overflow: hidden;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", serif;
  font-style: normal;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;

}
